<% title 'Edit assignment' %>

<%= form_for(@task) do |f| %>
  
  <ul data-role="listview" data-inset="true">
    <li><%= @task.assignment.description %></li>
    <li><%= f.label :completed %><%= f.check_box :completed %></li>
  </ul>

  <%= f.submit "Update", :class => 'whiteButton' %>      
  
<% end %>
