<table id=cal> <tr id=day-names>
    <td>Sun.</td>
    <td>Mon.</td>
    <td>Tue.</td>
    <td>Wed.</td>
    <td>Thu.</td>
    <td>Fri.</td>
    <td>Sat.</td>
  </tr>
  <% (0..3).each do |week| %>
    <tr class='cal-week'>
      <% (0..6).each do |day| %>
        <% index = week*7 + day %>
        <% cal_date = @shown_assignments[index] %>
        <td class='cal-day popup' href='/assignments/new?day=<%= cal_date.day %>&month=<%= cal_date.month%>&year=<%= cal_date.year%>'>
          <span class=date-num>
            <%= cal_date.day %>
          </span>
          <% cal_date.assignment_lst.each do |a| %>
            <div class='cal-assignment' style='background-color:<%= a.course.color %>'>
              <%= a.description%>
            </div>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
