<div id=course-lst>
  <div id=course-lst-header>
    <span id=course-lst-label>
      Courses
    </span>
  </div>
  <div id=course-lst-body>
    <ul>
    <% current_user.courses.each do |course| %>
      <li style='background-color:<%= course.color %>' color=<%= course.color %>><%= course.name %></li>
    <% end %>
    </ul>
    <hr/>
    <%= link_to 'Create a new class', new_course_path, :class => 'popup' %>
    <br/>
    <%= link_to 'Subscribe to an existing class', new_user_subscription_path(current_user), :class => 'popup' %>
    <br/>
    <%= link_to 'Create an assignment', new_assignment_path, :class => 'popup' %>
    <br/>
    <%= link_to 'Create a bunch of assignments', new_batch_assignments_path %>
    <br/>
    <hr/>
    <%= render :partial => 'shared/messages', :locals => { :user => current_user } %>
  </div>
</div>

