<!DOCTYPE html> 
<html> 
  <head> 
  <title>HAAG</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if mobile_device? %> 
    <%= stylesheet_link_tag "/stylesheets/jquery.mobile-1.1.0.min.css" %>
    <%= javascript_include_tag "/javascripts/jquery-1.7.1.min.js" %>
    <%= javascript_include_tag "/javascripts/jquery.mobile-1.1.0.min.js" %>
  <% end %>  
</head>
<body> 

<% if current_page?(new_user_session_path) %>
  <div data-role="page">
<% else %>
  <div data-role="page" data-add-back-btn="true">
<% end %>

  <div data-role="header">
    <% if current_page?(root_path) %>
      <%= link_to "Sign out", sign_out_path, :method => 'post', :rel => 'external' %>
    <% end %>
    <h1><%= yield :title %></h1>
    <%= link_to "Full site", root_url(:mobile => 0), :class => "ui-btn-right", :rel  => 'external' %>
  </div><!-- /header -->

  <div data-role="content"> 
    <%= yield %>
  </div><!-- /content -->

</div><!-- /page -->

</body>
</html>
