<%= form_for([@course, @assignment]) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%#= f.text_field :course %>
    
<%= 
  select_tag( 
    :course_id, 
    options_from_collection_for_select(
      @courses, 
      'id', 
      'name', 
      @courses.first
    ) 
  ) 
%>    
  </div>
  <div class="field" id='due-at'>
    <%= f.label :due_at %><br />
    <%= f.text_field :due_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  $('#assignment_due_at').datepicker();
<% end %>
