<%= form_for([@course, @assignment]) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :class => 'validate' %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%#= f.text_field :course %>
    
<%= 
  select_tag( 
    :course_id, 
    options_from_collection_for_select(
      @courses, 
      'id', 
      'name', 
      @courses.first
    ) 
  ) 
%>    
  </div>
  <div class="field" id='due-at'>
    <%= f.label :due_at %><br />
    <%= f.text_field :due_at, :value => @default_date %>
  </div>
  
  <div class="actions">
    <%= f.submit :disabled => true %>
  </div>
<% end %>

<%= javascript_tag do %>
  <% if @default_date != '' %>
    <%= puts "first" %>
    $('#assignment_due_at').datepicker({ defaultDate: <%= @default_date %> })
  <% else %>
    $('#assignment_due_at').datepicker({ onSelect: function(dateText, inst) { validateField('due_at', $('#assignment_due_at').val(), $('#assignment_due_at')) }   });
  <% end %>
<% end %>

<%= script_for_live_validation %>
