<h1>Listing assignments</h1>

<table class='index'>
  <tr>
    <th>Description</th>
    <th>Course</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.description %></td>
    <td><%= assignment.course.name %></td
    <td><%= link_to 'Show', course_assignment_path(@course, assignment) %></td>
    <td><%= link_to 'Edit', edit_course_assignment_path(@course, assignment) %></td>
    <td><%= link_to 'Destroy', :id => assignment.id, :confirm => 'Are you sure?', :controller => 'assignments', :action => 'destroy' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_course_assignment_path(@course) %>
