
<%= form_tag( create_batch_assignments_path, :method => :post ) do %>

  <table>
    <tr>
      <td>Description</td>
      <td><%= text_field_tag :description %></td>  
    </tr>
    <tr>
      <td>Class</td>
      <td>
        <%= select_tag(:course_id, 
          options_from_collection_for_select(@courses,'id','name',@courses.first) ) %>
      </td>
    </tr>
    <tr>
      <td>Due date</td>
      <td><%= text_field_tag :due_at, '', :class => 'datepicker' %></td>
    </tr>
  </table>
  
  <%= submit_tag 'Save assignments' %>

<% end %>

<%= script_for_live_validation %>

  
<%= javascript_tag do %>

  $('.datepicker').datepicker();

<% end %>

