<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Course:</b>
  <%= @assignment.course %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
