<h1>Welcome!</h1> 

<p>
Manage <%= link_to 'users', users_path %> | 
Manage <%= link_to 'courses', courses_path %> |
Manage <%= link_to 'assignments', assignments_path %>
</p>

<h2>Courses for <%= @user.name %></h2>
<ul>
<% @user.courses.each do |course| %>
<li><%= course.short_name %> <%= course.long_name %></li>
<% end %>
</ul>

<h2>Assignments for <%= @user.name %></h2>
<ul>
<% @user.tasks.each do |tasks| %>
<li>
	<%= tasks.assignment.description %>
	<%= "(#{tasks.assignment.due_at})" if tasks.assignment.due_at %>
</li>
<% end %>
</ul>